service cloud.firestore {
  match /databases/{database}/documents {
    function getAccount(site) {
      return get(/databases/$(database)/documents/sites/$(site)/accounts/$(request.auth.uid));
    }
    function isActiveAccount(site) {
      return getAccount(site).data.get('deletedAt', null) == null;
    }
    function isAdmin() {
      return isActiveAccount("admins");
    }
    function isManager(site) {
      return isActiveAccount(site) && getAccount(site).data.user in get(/databases/$(database)/documents/sites/$(site)/groups/managers).data.users;
    }
    match /service/conf {
      allow update: if isAdmin();
      allow read: if true;
    }
    match /sites/{site} {
      allow read: if true;
      allow update: if isManager(site);
      allow read, create, update: if isAdmin();
      allow delete: if site != "admins" && isAdmin();
    }
    match /logs/{log} {
      allow create: if true;
      allow read, write: if isAdmin();
    }
    match /sites/{site}/logs/{log} {
      allow create: if true;
      allow read, write: if isManager(site) || isAdmin();
    }
    match /sites/{site}/accounts/{account} {
      allow read: if request.auth.uid == account;
      allow read: if isManager(site);
      allow read, write: if request.auth.uid != account && isManager(site);
    }
    match /sites/{site}/users/{user} {
      allow read: if isActiveAccount(site);
      allow read, update: if isActiveAccount(site) && getAccount(site).data.user == user;
      allow read, update: if isManager(site);
      allow create, delete: if getAccount(site).data.user != user && isManager(site);
    }
    match /sites/{site}/groups/{group} {
      allow read: if isActiveAccount(site);
      allow read, update: if group == "managers" && isManager(site);
      allow read, write: if group != "managers" && isManager(site);
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
